.link-style {
    color: #4B687A;
    text-decoration: none;
    padding: 0px 5px;
  }
  
  .link-style:hover {
    text-decoration: underline;
  }
  
.btn{
    background-color: #4B687A;
    color: white;
}
