/* Add any custom styles if needed */

body {
    background-image: url(../../assets/Images/back3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #333; /* Change body text color if desired */
    font-family: 'Arial', sans-serif; /* Use your preferred font-family */
  }
  
  .container {
    background-color:rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  h2 {
    color: #2c3e50; /* Updated color to match the specified theme */
  }
  
  .card {
    transition: transform 0.2s;
    background-color: #2c3e50;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-subtitle,
  .card-link {
    color: #3498db;
  }
  
  .card-link:hover {
    text-decoration: underline;
  }
  
  /* Additional styling for the selected category */
  .selected-category {
    border: 2px solid #2c3e50;
  }
  